html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

#place-menu {
  background-color: #9FB5CC;
  color: #637180;
  font-family: sans-serif;
  font-size: 22px;
  height: 100%;
  width: 25%;
  transform: translateZ(5);
  float: right;
}

#menu-btn {
  background-color: #637180;
  height: 100%;
  width: 2%;
  transform: translateZ(5);
  float: right;
}

ul {
  list-style: none;
}

.highlighted {
  background-color: yellow;
}

.hover {
  color: #454F59;
}

@media only all and (max-width: 750px) {
  #place-menu {
    width: 90%;
  }
  #menu-btn {
    width: 10%;
  }
}
