html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

#nav-bar {
  height: 40px;
  width: 100%;
  background-color: #9FB5CC;
}

#place-menu {
  width: 20%;
  height: 100%;
  color: #637180;
  background-color: pink;
  font-family: sans-serif;
  font-size: 22px;
  float: right;
  margin: 0px;
}

#menu-btn {
  height: 40px;
  width: 20%;
  float: right;
  background-color: #637180;
}

ul {
  list-style: none;
}

.highlighted {
  background-color: yellow;
}

.hover {
  color: #454F59;
}



